<title>@ViewBag.Title</title>
<link rel="stylesheet" type="text/css" href="/Content/default.css" />
<link rel="stylesheet" type="text/css" href="/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="/easyui/themes/icon.css" />
<script type="text/javascript" src="/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/easyui/jquery.easyui.min.js"></script>
<style type="text/css">
    td.amrow
    {
        padding-right: 3px;
        padding-left: 3px;
        background: #f7f7f7;
        padding-bottom: 3px;
        padding-top: 3px;
    }
    a
    {
        color: #000000;
        text-decoration: none;
    }
    a:hover
    {
        color: #93B4E6;
        text-decoration: none;
    }
    .title
    {
        background-image: url(/Images/bg_bottom.jpg);
        background-color: #99ABCC;
        color: White;
        font-weight: bold;
    }
</style>
<script type="text/javascript">

    $(function () {
        InitLeftMenu();
        tabClose();
        tabCloseEven();




        $('#tabs').tabs({
            onSelect: function (title) {
                var currTab = $('#tabs').tabs('getTab', title);
                var iframe = $(currTab.panel('options').content);

                var src = iframe.attr('src');
                if (src)
                    $('#tabs').tabs('update', { tab: currTab, options: { content: createFrame(src)} });

            }
        });


    });


    function showChangePasswordWin() {
        $('#winPassword').window('open');
    }


    function add(e) {
        //alert(e);
        var tabTitle = $(e).children('.nav').text();
        //alert(tabTitle);
        var url = $(e).attr("rel");
        //alert(url);
        var menuid = $(e).attr("ref");
        //alert(menuid);
        var icon = getIcon(menuid);
        //alert(icon);
        addTab(tabTitle, url, icon);
        $('.easyui-accordion li div').removeClass("selected");
    }

    function changePassword() {
        var oldPassword = $("#iptOldPassword").val();
        if (oldPassword == "") {
            $.messager.alert('提示', '请输入旧密码！');
            return;
        }

        var password = $("#iptPassword").val();
        if (password == "") {
            $.messager.alert('提示', '请输入新密码！');
            return;
        }

        var newPassword = $("#iptNewPassword").val();
        if (newPassword == "") {
            $.messager.alert('提示', '请确认密码！');
            return;
        }

        if (newPassword != password) {
            $.messager.alert('提示', '两次密码不一致，请重新输入！');
            return;
        }
        var parm = { password: password, oldPassword: oldPassword };
        $.ajax({
            type: "POST",
            url: "/Home/ChangedPassword/",
            data: parm,
            success: function (msg) {
                if (msg.IsSuccess) {
                    $.messager.alert('提示', '修改成功！', "info", function () {
                        $('#winPassword').window('close');
                        $("#iptOldPassword").val("");
                        $("#iptPassword").val("");
                        $("#iptNewPassword").val("");
                        window.location.href = "/";
                    });
                } else {
                    $.messager.alert('提示', '密码错误，请重新输入！', "info");
                }
            },
            error: function () {
                $.messager.alert('错误', '修改失败！', "error");
            }
        });
    }

    var _menus = {};

    //初始化左侧
    function InitLeftMenu() {

        $("#nav").accordion({ animate: false });

        $.post("/Home/GetMenuInfo/", function (data) {

            //alert(data);
            //alert(data.menus);
            //var str = "{ \"MenuInfos\":" + data + "}";

            //alert(str);

            _menus = data;

            $.each(data, function (i, n) {


                var menulist = '';
                menulist += '<ul>';

                //alert(menulist);

                $.each(n.MenuInfos, function (j, o) {
                    menulist += '<li><div><a ref="' + o.MenuId + '" href="#" rel="' + o.Url + '"  onclick="add(this)" ><span class="icon ' + o.Icon + '" >&nbsp;</span><span class="nav">' + o.MenuNames + '</span></a></div></li> ';

                });

                menulist += '</ur>';

                //alert("menulist" + menulist);

                $('#nav').accordion('add', {
                    title: n.MenuName,
                    content: menulist,
                    iconCls: 'icon ' + n.Icon
                });
            });
        });


        //        $('.easyui-accordion li a').click(function () {
        //            var tabTitle = $(this).children('.nav').text();

        //            var url = $(this).attr("rel");
        //            var menuid = $(this).attr("ref");
        //            var icon = getIcon(menuid, icon);

        //            addTab(tabTitle, url, icon);
        //            $('.easyui-accordion li div').removeClass("selected");
        //            $(this).parent().addClass("selected");
        //        }).hover(function () {
        //            $(this).parent().addClass("hover");
        //        }, function () {
        //            $(this).parent().removeClass("hover");
        //        });

        //选中第一个
        var panels = $('#nav').accordion('panels');
        var t = panels[0].panel('options').title;
        $('#nav').accordion('select', t);

    }


    //获取左侧导航的图标
    function getIcon(menuid) {
        var icon = 'icon ';
        $.each(_menus, function (i, n) {
            $.each(n.MenuInfos, function (j, o) {
                if (o.MenuId == menuid) {
                    icon += o.Icon;
                }
            });
        });

        return icon;
    }

    function addTab(subtitle, url, icon) {
        if (!$('#tabs').tabs('exists', subtitle)) {
            $('#tabs').tabs('add', {
                title: subtitle,
                content: createFrame(url),
                closable: true,
                icon: icon
            });
        } else {
            $('#tabs').tabs('select', subtitle);
            $('#mm-tabupdate').click();
        }
        tabClose();
    }

    function createFrame(url) {
        var s = '<iframe scrolling="auto" frameborder="0"  src="' + url + '" style="width:100%;height:100%;"></iframe>';
        return s;
    }

    function tabClose() {
        /*双击关闭TAB选项卡*/
        $(".tabs-inner").dblclick(function () {
            var subtitle = $(this).children(".tabs-closable").text();
            $('#tabs').tabs('close', subtitle);
        })
        /*为选项卡绑定右键*/
        $(".tabs-inner").bind('contextmenu', function (e) {
            $('#mm').menu('show', {
                left: e.pageX,
                top: e.pageY
            });

            var subtitle = $(this).children(".tabs-closable").text();

            $('#mm').data("currtab", subtitle);
            $('#tabs').tabs('select', subtitle);
            return false;
        });
    }
    //绑定右键菜单事件
    function tabCloseEven() {
        //刷新
        $('#mm-tabupdate').click(function () {
            var currTab = $('#tabs').tabs('getSelected');
            var url = $(currTab.panel('options').content).attr('src');
            $('#tabs').tabs('update', {
                tab: currTab,
                options: {
                    content: createFrame(url)
                }
            });
        });
        //关闭当前
        $('#mm-tabclose').click(function () {
            var currtab_title = $('#mm').data("currtab");
            $('#tabs').tabs('close', currtab_title);
        });
        //全部关闭
        $('#mm-tabcloseall').click(function () {
            $('.tabs-inner span').each(function (i, n) {
                var t = $(n).text();
                $('#tabs').tabs('close', t);
            });
        });
        //关闭除当前之外的TAB
        $('#mm-tabcloseother').click(function () {
            $('#mm-tabcloseright').click();
            $('#mm-tabcloseleft').click();
        });
        //关闭当前右侧的TAB
        $('#mm-tabcloseright').click(function () {
            var nextall = $('.tabs-selected').nextAll();
            if (nextall.length == 0) {
                //msgShow('系统提示','后边没有啦~~','error');
                alert('后边没有啦~~');
                return false;
            }
            nextall.each(function (i, n) {
                var t = $('a:eq(0) span', $(n)).text();
                $('#tabs').tabs('close', t);
            });
            return false;
        });
        //关闭当前左侧的TAB
        $('#mm-tabcloseleft').click(function () {
            var prevall = $('.tabs-selected').prevAll();
            if (prevall.length == 0) {
                alert('到头了，前边没有啦~~');
                return false;
            }
            prevall.each(function (i, n) {
                var t = $('a:eq(0) span', $(n)).text();
                $('#tabs').tabs('close', t);
            });
            return false;
        });

        //退出
        $("#mm-exit").click(function () {
            $('#mm').menu('hide');
        });
    }

    //弹出信息窗口 title:标题 msgString:提示信息 msgType:信息类型 [error,info,question,warning]
    function msgShow(title, msgString, msgType) {
        $.messager.alert(title, msgString, msgType);
    }
</script>
<body class="easyui-layout" style="overflow-y: hidden" scroll="no">
    <div region="west" hide="true" split="true" title="导航菜单" style="width: 180px;" id="west">
        <div id="nav" class="easyui-accordion" fit="true" border="false">
            <!--  导航内容 -->
        </div>
    </div>
    <div id="mainPanle" region="center" style="background: #eee; overflow-y: hidden">
        <div id="tabs" class="easyui-tabs" fit="true" border="false">
            <div title="欢迎使用" style="padding: 20px; overflow: hidden; color: red;">
                <table cellspacing="1" cellpadding="3" width="98%" align="center" bgcolor="#ffffff"
                    border="0">
                    <tbody>
                        <tr bgcolor="#e0ecff">
                            <td width="50%" style="height: 24px">
                                &nbsp;<strong>服务器名</strong>：@System.Environment.MachineName
                            </td>
                            <td width="50%" style="height: 24px">
                                &nbsp;<b>服务器端口：</b>@HttpContext.Current.Request.ServerVariables["Server_Port"]
                            </td>
                        </tr>
                        <tr bgcolor="#e0ecff">
                            <td width="50%" style="height: 23px">
                                &nbsp;<b>脚本解释引擎：</b>@System.Environment.Version
                            </td>
                            <td width="50%" style="height: 23px">
                                <b>&nbsp;站点物理路径：</b>@HttpContext.Current.Request.PhysicalApplicationPath
                            </td>
                        </tr>
                        <tr bgcolor="#e0ecff">
                            <td width="50%" style="height: 23px">
                                &nbsp;<b>服务器CPU个数：</b>@System.Environment.ProcessorCount
                            </td>
                            <td width="50%" style="height: 23px">
                                &nbsp;<b>服务器IIS版本：</b>@Request.ServerVariables["SERVER_SOFTWARE"]
                            </td>
                        </tr>
                        <tr bgcolor="#e0ecff">
                            <td width="50%">
                                &nbsp;<b>开机运行时长</b>：@(System.Environment.TickCount / 3600000)小时
                            </td>
                            <td width="50%">
                                <b>&nbsp;服务器时间：</b>@DateTime.Now
                            </td>
                        </tr>
                        <tr bgcolor="#e0ecff">
                            <td colspan="2">
                                &nbsp;<b>服务器操作系统：</b><span> @System.Environment.OSVersion</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div region="south" border="false" style="height: 20px; background: #A9FACD; text-align: center;
        line-height: 20px; background-image: url(/Images/bg_bottom.gif);">
        Copy Right ®2014-2021</div>
    <div region="north" split="true" border="false" style="overflow: hidden; height: 30px;
        background: url(/Images/layout-browser-hd-bg.gif) #7f99be repeat-x center 50%;
        line-height: 20px; color: #fff; font-family: Verdana, 微软雅黑,黑体">
        <span style="float: right; padding-right: 20px;" class="head">欢迎 @ViewBag.User
            <a href="#" id="editpass" onclick="showChangePasswordWin();">修改密码</a> <a href="/Home/LogOut/"
                id="loginOut" onclick="if (!window.confirm('您确认要注消当前登录用户吗？')){return false;}">安全退出</a></span>
        <span style="padding-left: 10px; font-size: 16px;">
            <img src="/Images/blocks.gif" width="20" height="20" align="absmiddle" />
            @ViewBag.Title</span>
    </div>
    <div id="winPassword" class="easyui-window" closed="true" modal="true" title="修改密码"
        style="width: 250px; height: 180px;" collapsible="false" minimizable="false"
        maximizable="false" resizable="false">
        <div class="easyui-layout" fit="true">
            <div region="center" border="false" style="padding: 10px; background: #fff; border: 1px solid #ccc;">
                <table>
                    <tr>
                        <td>
                            旧密码：
                        </td>
                        <td>
                            <input type="password" id="iptOldPassword" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            新密码：
                        </td>
                        <td>
                            <input type="password" id="iptPassword" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            确认密码：
                        </td>
                        <td>
                            <input type="password" id="iptNewPassword" />
                        </td>
                    </tr>
                </table>
                <div style="text-align: right;">
                    <a class="easyui-linkbutton" iconcls="icon-ok" href="javascript:void(0)" onclick="changePassword()">
                        确定</a> <a class="easyui-linkbutton" iconcls="icon-cancel" href="javascript:void(0)"
                            onclick="$('#winPassword').window('close');">取消</a>
                </div>
            </div>
        </div>
    </div>
</body>
